# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
#Set the hypothesis

#H0: mu_HP Dragon = mu_HP Grass
#H1: mu_HP Dragon != mu_HP Grass

#Significance level= 0.05

In [10]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [11]:
df_dragon = df[df["Type 1"]=="Dragon"]["HP"]
df_grass = df[df["Type 2"]=="Grass"]["HP"]

In [13]:
df_dragon.mean(), df_grass.mean()

(np.float64(83.3125), np.float64(62.64))

In [14]:
st.ttest_ind(df_dragon,df_grass, equal_var=False)

TtestResult(statistic=np.float64(3.840727789973186), pvalue=np.float64(0.0003219272007036749), df=np.float64(54.507654005585586))

In [ ]:
# thence in means between group 1 and group 2 is statistically significant. t = 3.84, p ≈ 0.00032, two-sided. Dragon class has a higher mean than Grass type.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [16]:
df_legendary=df[df['Legendary']==True]
df_notlegendary=df[df['Legendary']==False]

In [19]:
df.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [20]:
stats_cols= ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
results=[]

for col in stats_cols:
    t, p = st.ttest_ind(df_legendary[col],df_notlegendary[col], equal_var=False)
    results.append({'stats': col, 't_stat': t, 'p_value': p})

results_df=pd.DataFrame(results)
results_df

     stats     t_stat       p_value
0       HP   8.981370  1.002691e-13
1   Attack  10.438134  2.520372e-16
2  Defense   7.637078  4.826998e-11
3  Sp. Atk  13.417450  1.551461e-21
4  Sp. Def  10.015697  2.294933e-15
5    Speed  11.475044  1.049016e-18

In [22]:
#based on the result we can say that legendary pokemos are superior in every stat possible, by far. for all six stats the differences are statistically significant. this is strong evidence that legendaries have higher stats than non legendaries.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [21]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [32]:
school_lon, school_lat= -118, 34
hospital_lon, hospital_lat= -122, 37

In [33]:
import math

eucl_distance=[]

def euclidean_distance(row, ref_lon, ref_lat):
    return np.sqrt((row['longitude'] - ref_lon)**2 +
                   (row['latitude']  - ref_lat)**2)

df['dist_school'] = df.apply(
    lambda row: euclidean_distance(row, school_lon, school_lat),
    axis=1
)

df['dist_hospital'] = df.apply(
    lambda row: euclidean_distance(row, hospital_lon, hospital_lat),
    axis=1
)
  
df['min_dist'] = df[['dist_school', 'dist_hospital']].min(axis=1)
df['close_to_service'] = df['min_dist'] < 0.5

In [34]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,dist_school,dist_hospital,min_dist,close_to_service
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,3.694888,8.187319,3.694888,False
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,3.552591,7.966235,3.552591,False
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,3.453940,8.143077,3.453940,False
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,3.448840,8.154416,3.448840,False
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,3.456848,8.183508,3.456848,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,9.082070,4.233675,4.233675,False
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,9.168915,4.332320,4.332320,False
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,10.057614,5.358694,5.358694,False
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,10.026465,5.322593,5.322593,False
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,9.115597,4.249012,4.249012,False

In [39]:
df_closetoservice=df[df['close_to_service']==True]['median_house_value'] 
df_farfromservice=df[df['close_to_service']==False]['median_house_value']

In [40]:
st.ttest_ind(df_closetoservice,df_farfromservice, equal_var=False)

TtestResult(statistic=np.float64(37.992330214201516), pvalue=np.float64(3.0064957768592614e-301), df=np.float64(14571.229910954282))

In [43]:
df_closetoservice

2366     124700.0
2367     137500.0
2368     169100.0
2371     182900.0
2372     220800.0
           ...
15090    177500.0
15170    500001.0
15253    277700.0
15254    319400.0
15686    286100.0
Name: median_house_value, Length: 6829, dtype: float64

In [44]:
print(f'difference of avg of prices regarding closeness to services :', df_closetoservice.mean() - df_farfromservice.mean())

difference of avg of prices regarding closeness to services : 66273.54107710271

In [ ]:
#There is very strong evidence that houses that are close to services, have a higher value that the ones that are not. On average, houses close to services cost 66273 more than those that are far from services.  with a p value that is virtually 0.